<%= stylesheet_link_tag "budget", :plugin=>"redmine_budget_and_reporting" %>
<script>
  $(document).ready(function(){
    $(".budget_individual_detail").click(function(){
      $.get("<%= url_for(:controller => 'budget', :action => 'show_individual_costs', :project_id => @project.id) %>",
        function(data){
          $("#budget_floating").html(data);
          $("#budget_floating").dialog({
            width: 1100,
            modal: true
          });
        }
      );
    });
  });

  function update_after_delete(url){
    $.get(url, function(data){
	  $("#budget_floating").html(data);
	  $("#budget_floating").dialog({
		width: 1000,
		modal: true
	  });
    });
  };
</script>

<h2>Budget Report für <%= @project.name %></h2>
<div class="budget_heading">Übersicht</div>

<div class="budget_container">
  <table class="budget_overview">
    <tr>
      <td>Geplannt <%= @overall_costs[:planned].nil? ? "" : "am " + I18n.l(@overall_costs[:planned].created_on) %>: </td>
      <td><%= @overall_costs[:planned].nil? ? "---" :
          number_to_currency(@overall_costs[:planned].budget, :delimiter => ".") %></td>
    </tr>
    <tr>
      <td>Prognose <%= @overall_costs[:forecast].nil? ? "" : "vom " + I18n.l(@overall_costs[:forecast].planned_date) %>: </td>
      <td><%= @overall_costs[:forecast].nil? ? "---" :
          number_to_currency(@overall_costs[:forecast].budget, :delimiter => ".") %></td>
    </tr>
    <tr>
      <td>IST-Wert:</td>
      <td><%= number_to_currency(@overall_costs[:issues] + @overall_costs[:individual], :delimiter => ".") %></td>
    </tr>
    <tr>
      <td></td>
      <td><i>(<%= number_to_currency(@overall_costs[:issues], :delimiter => ".") %> Personal +
         <%= number_to_currency(@overall_costs[:individual], :delimiter => ".") %> Einzelkosten)
      </i></td>
    </tr>
  </table>
</div>

<div class="budget_heading">Personalkosten</div>

<% if not @costs_per_issue.empty? %>
<table class="issue_costs">
  <% @costs_per_issue.each do |version, issue_list| %>
    <tr>
      <td colspan="4" class="heading"><%= version.nil? ? "Ohne Meilenstein" : version.name %></td>
    </tr>

    <% issue_list.each do |issue, total_costs| %>
    <tr>
      <td class="name"><%= link_to(issue.subject.truncate(50), {:controller => "timelog", :action => "index", :issue_id => issue.id},
	                                          {:alt => issue.subject}) %></td>
      <td class="bar"><%= line_for_issue_hours_progress(issue) %></td>
      <td class="hour"><%= issue.spent_hours.round(2) %>h</td>
      <td class="amount"><%= number_to_currency(total_costs, :delimiter => ".") %></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2"></td>
      <td class="sum"><%= issue_list.sum{|i,c| i.spent_hours}.round(2).to_s %></td>
      <td class="sum"><%= number_to_currency(issue_list.sum{|i,c| c}, :delimiter => ".") %></td>
    </tr>
  <% end %>
  </table>
  <br>

  <% if not @project.children.empty? %>
  <br>
  <table class="issue_costs">
    <tr>
      <td colspan="4" class="heading"><i>Personalkosten für Unterprojekte</i></td>
    </tr>
    <% @project.children.each do |p| %>
       <tr>
	 <td class="name"><%= link_to(p.name.truncate(50), {:controller => "projects", :action => "show", :id => p.id},
                                                           {:alt => p.name}) %></td>
         <td class="bar"></td>
         <td class="hour"><%= p.issues.to_a.sum{|i| i.spent_hours}.round(2) %>h</td>
         <td class="amount"><%= number_to_currency(p.costs_issues + p.costs_individual_items, :delimiter => ".") %></td>
       </tr>
    <% end %>
    <tr>
      <td colspan="2"></td>
      <td class="sum"><%=@project.children.to_a.sum{|c| c.issues.to_a.sum{|i| i.spent_hours}.round(2)} %></td>
      <td class="sum"><%=number_to_currency(@project.children.to_a.sum{|c| c.costs_issues + c.costs_individual_items}.round(2)) %></td>
    </tr>
  </table>
  <% end %>
<br>

<% else %>
  <div class="budget_container">Bislang keine Kosten</div>
<% end %>

<div class="budget_heading">Einzelkosten</div>

<table class="individual_items">
  <% @individual_costs[:category].each do |group, list| %>
    <% list.each_with_index do |(type, info), index| %>
      <tr>
	<td class="name <%=index==0 ? 'top' : ''%> <%=index==list.length-1 ? 'bottom' : ''%>">
	  <%= info[0] %>
	</td>
	<td class="type <%=index==0 ? 'top' : ''%> <%=index==list.length-1 ? 'bottom' : ''%>">
	  <%= type.to_s %>
	</td>
	<td class="amount <%=index==0 ? 'top' : ''%> <%=index==list.length-1 ? 'bottom' : ''%>">
	  <%=number_to_currency(info[1], :delimiter => ".") %>
	</td>
	<% if index == 0%>
	  <td class="summed last top bottom" rowspan="<%= list.length %>">
	    <%= group %>: <br> <%=number_to_currency(@individual_costs[:category][group].sum{|t,i| i[1]}, :delimiter => ".") %>
	  </td>
	<% end %>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td colspan="2" class="name top bottom">Sonstiges</td>
    <td class="amount top bottom"><%=number_to_currency(@individual_costs[:other], :delimiter => ".") %></td>
    <td class="summed last bottom top">Sonstiges: <br><%=number_to_currency(@individual_costs[:other], :delimiter => ".") %></td>
  </tr>
  <% children = @project.children %>
  <% children.each_index do |index| %>
    <tr>
      <td colspan="2" class="name <%= index==0 ? 'top' : '' %> <%= index==@project.children.length-1 ? 'bottom' : ''  %>">
	<i><%= children[index].name %></i>
      </td>
      <td class="amount <%= index==0 ? 'top' : '' %> <%= index==@project.children.length-1 ? 'bottom' : ''  %>">
	<%= number_to_currency(children[index].costs_individual_items, :delimiter => ".") %>
      </td>
      <% if index==0 %>
        <td rowspan="<%= children.length %>" class="summed last <%= index==0 ? 'top' : '' %> <%= index==@project.children.length-1 ? 'bottom' : ''  %>">
	  Unterprojekte:<br><%= number_to_currency(children.to_a.sum {|c| c.costs_individual_items}, :delimiter => '.') %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td class="top bottom summed last big" colspan="4">
      Gesamt: <%= number_to_currency(@project.costs_individual_items, :delimiter => ".")%>
    </td>
  </tr>
</table>

<br><br>
 <a href="#" class="budget_individual_detail">
   <span class="icon icon-copy"></span> Komplette Liste der Einzelkosten anzeigen
</a>
<% if User.current.admin? %>
<%= link_to({:controller => "budget", :action => "delete_individual_for_project"},
            {:confirm => "Wirklich löschen?", :style => "margin-left:50px"}) do %>
  <span class="icon icon-del"></span>Einzelkosten für dieses Projekt löschen
<% end %>
<% end %>

<div id="budget_floating">
</div>
